blockquote {
    padding-left: 1.25rem/* 20px */;
    margin-bottom: 0.5rem/* 8px */;
    border-left-width: 2px;
}
strong {
    font-weight: 600;
}
a {
    --tw-text-opacity: 1;
    color: rgb(30 64 175 / var(--tw-text-opacity));
    text-decoration-line: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    font-weight: 600;
}
a:hover {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
}
th {
    font-weight: 600;
    padding-left: 0.25rem/* 4px */;
}
thead {
    text-align: left;
}

.fivestar {
    background-color: rgb(217 119 6);
}
.fourstar {
    background-color: rgb(126 34 206);
}
.threestar {
    background-color: rgb(76, 159, 192);
}
.twostar {
    background-color: rgb(43, 187, 146);
}
.onestar {
    background-color: rgb(159, 164, 185);
}

@media (prefers-color-scheme: dark) {
    a {
        --tw-text-opacity: 1;
        color: rgb(219 234 254 / var(--tw-text-opacity));
    }
    a:hover {
        --tw-text-opacity: 1;
        color: rgb(96 165 250 / var(--tw-text-opacity));
    }
    .fivestar {
        background-color: rgb(180 83 9);
    }
    .fourstar {
        background-color: rgb(107 33 168);
    }
    .threestar {
        background-color: rgb(82 141 164);
    }
    .twostar {
        background-color: rgb(42, 143, 114);
    }
    .onestar {
        background-color: rgb(114, 119, 139);
    }

}
